<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="static/planet-earth.svg" />
    <link href="static/index.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="head">
        <img src="static/planet-earth.svg" style="width:70px; padding:10px;">
        <h1><a href="{{ url_for('index') }}">WikiNews</a></h1>
    </div>

    <form action="{{ url_for('predict') }}" method=post>
        <textarea style="height:200px; width:700px" name="text" placeholder="Paste news headline here"></textarea>
        <input type="submit">
    </form>

    <p>{{ message }}</p>

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th style="width: 40%">News</th>
                <th style="width: 30%">Relevant</th>
                <th style="width: 30%">Irrelevant</th>
            </tr>
        </thead>

        <tbody>
            {% for obj in results %}
            <tr style="padding:10%">
                <td>{{ obj.news }}</td>
                <td >
                    {% for para in obj.relevant %}
                    <a href="{{para.wiki_url}}"><p>{{para.title}}</p></a>
                    {% endfor %}
                </td>
                <td style="color:darkgoldenrod">
                    {% for para in obj.irrelevant %}
                    <p>{{para.title}}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>